*{
    margin: 0;
    padding: 0;
}

h1,h2 {
    color: initial;
    /*font-size: initial;*/
    text-shadow: initial;
    font-weight: initial;
}

/* nav css */
.nav_wrapper  {
    border-bottom: 1px solid #000000;
    /*background-color: #D8F2FC;*/
}

#nav {
    list-style: none;
    display: flex;
    height: 66px;
    /*background-color: azure;*/
    width: 100vw;
    align-items: center;
}

#nav li a {
    text-decoration: none;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    /*width: 100px;*/
    width: 100vw;
}

.nav-logo {
    /*background-color: lightblue;*/
    width: 100px;
    text-align: center;
    height: 66px;
    margin-left: 30px;
    /*上下中央ぞろえ*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 97px;
}

.nav-contact {
    margin-left:30px;
}

.nav-blank {
    height: 66px;
    margin: 0 0 0 auto;

    /*  */
    display: flex;
    align-items: center;
}
.nav-awesome {
    margin-right: 30px;
}

/* nav sp */
.sp_nav_wrapper {
    width: 100vw;
    height: 65px;
    /*background-color: lightgrey;*/

    display: none;
    align-items: center;
    justify-content: center;
}

.sp-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    /*background-color: azure;*/
    width: 284px;
    align-items: center;
}

.sp-nav li a {
    text-decoration: none;
}

.sp-nav-logo {
    width: 96px;
}
/* nav sp 終了*/
/* nav css end */

/* content  css */
.contents {
    /*background-color: #f00;*/

    width: 100vw;
    min-height: 1100px;
}

.contents-event_title {
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event_title {
    display: flex;
    font-size: 33px;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    font-weight: 100;
    width: 557px;
}

.event_detail_title {
    display: flex;
    font-size: 23px;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    font-weight: 100;
    width: 557px;
}
.event_image_wrap {
    text-align: center;
    display: flex;
    justify-content: center;
}

.event_image {
    /*height: 366px;*/
    width: 553px;
    /*background-color: lightpink;*/
}

.event_detail_wrap {
    display: flex;
    justify-content: center;
}

.event_detail {
    width: 553px;
    min-height: 405px;
    border: solid 2px black;
}
/* content css end */

.contents_blank {
    height: 55px;
}

/* footer */

.footer_wrapper {
    height: 46px;
    /*background-color: lightgrey;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.copy_light {
    font-size: 10px;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}
/* footer end  */